<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\
	   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymou\
													    s">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <ul class = "navbar-nav mr-auto">
	<li class = "nav-item active">
	  <a class = "nav-link" href="/">My Blog</a>
	</li>
	<li class = "nav-item active">
	  <a class = "nav-link" href="/bloglist">Blog List</a>
	</li>
	<li class = "nav-item active">
	  <a class = "nav-link" href="/blogadd">Add A Blog</a>
	</li>
    </nav>	
        <h1><%= title %></h1>
	<div class="card" style="width: 50%">
	  <form method="post" action="/blogadd" style="padding: 20px">
	    <div class="form-group">
	      <label for="blogTitle" class="text-dark">Blog Title</label>
	      <input class="form-control" id="blogTitle" name="blogTitle"></textarea>
<label for="blogText" class="text-dark">Blog Text</label>
<textarea class="form-control" id="blogText" rows="3" name="blogText"></textarea>
</div>
<input type="submit" class="btn btn-primary" value="Save">
</form>
</div>
</div>
  </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-\
q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anon\
									       ymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.m\
in.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIH\
		  NDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.\
js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07\
jRM" crossorigin="anonymous"></script>
</html>    
