<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
	<link rel = 'stylesheet' href='stylesheets/style.css' />
    </head>
    <body>
      <nav>
	<a href="/">My Blog</a>
	<a href="/bloglist">Blog List</a>
	<a href="/blogadd">Add A Blog</a>
      </nav>	
        <h1><%= title %></h1>
	<p>This is currently under construction</p>
    </body>
</html>    
